<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
   

</head>

<body>
    <section class="hero is-primary is-fullheight" >
        <div class="hero-head">
            <nav class="navbar" style="text-align: center;">
                <div class="container">
                    <h1 class="title" style="color: black;margin-top: 20px; text-align: center;" >
                        Selamat Datang
                      </h1>

                    <div id="navbarMenuHeroA" class="navbar-menu" style="color: black;">
                        <div class="navbar-end">
                            
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('dashboard') }}" class="navbar-item">
                                Profile
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body"style="background-image: url(../static/images/dashboard.png);background-repeat: no-repeat;background-position: center; image-rendering: auto;">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>