<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body >
  <!-- partial:index.partial.html -->
  <section class="msger">
    <header class="msger-header">
      <div class="msger-header-title">
        <i class="fas fa-bug"></i> BertChatbot <i class="fas fa-bug"></i>
      </div>
    </header>

    <main class="msger-chat"  style="background-image: url(../../static/images/backgroundchatbot.jpg)">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(../../static/images/logochatbot.png)"></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">BertChatbot</div>
            <div class="msg-info-time">12:45</div>
          </div>

          <div class="msg-text">
            Hai, Selamat Datang Di Chatbot penjawab soal otomatis😄 
          </div><div class="msg-text">
            Silahkan Pilih konteks / topik yang akan kita bahas 
            <select id="topik" name="role" onclick="topik()" style="width:300px;height:40px; margin-bottom: 10px;">
              <option value="sejarah">Sejarah</option>
              <option value="informatika">Informatika</option></select>
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="hidden" class="konteks" id="konteks">
      <input type="text" class="msger-input-pertanyaan" id="pertanyaan" placeholder="Enter question...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInputpertanyaan = get(".msger-input-pertanyaan");
    const msgerChat = get(".msger-chat");
    function topik(){
    let combo = document.getElementById("topik").value;
    const msgerInputkonteks = get(".konteks");
    if (combo == "sejarah"){
        msgerInputkonteks.value =''
        msgerInputkonteks.value ="Pangeran Harya Dipanegara (atau biasa dikenal dengan nama Pangeran Diponegoro, lahir di Ngayogyakarta Hadiningrat, 11 November 1785 – meninggal di Makassar, Hindia Belanda, 8 Januari 1855 pada umur 69 tahun) adalah salah seorang pahlawan nasional Republik Indonesia,yang memimpin Perang Diponegoro atau Perang Jawa selama periode tahun 1825 hingga 1830 melawan pemerintah Hindia Belanda. Sejarah mencatat, Perang Diponegoro atau Perang Jawa dikenal sebagai perang yang menelan korban terbanyak dalam sejarah Indonesia, yakni 8.000 korban serdadu Hindia Belanda, 7.000 pribumi, dan 200 ribu orang Jawa serta kerugian materi 25 juta Gulden."
        console.log(combo)
      }
    else if (combo == "informatika"){
        msgerInputkonteks.value =''
        msgerInputkonteks.value ="Webinar ini dilaksanakan oleh Politeknik Harapan Bersama kota Tegal dengan berkerja sama dengan speaker dari Duitin yaitu Bpk Agy selaku CEO dan Founder dari Duitin. Webinar yang membicarakan tentang bagaimana cara pengolahan sampah di era digital saat ini. Ada sebagian yang melalukan pemilihan sampah di Rumah, namun masih kecewa dimana saat sampah di Angkut tukang sampah, sampah tersebut di persatukan kembali. Di era transformasi digital saat ini, apalagi ketika masih pandemic covid-19, banyak sector-sektor tertentu yang mulai mengubah ke digital. Duitin adalah sebuah aksi untuk memilah, mengumpulkan dan juga mengelola sampah kemudian bisa mendapatkan ‘kehidupan kedua’ melalui proses daur ulang."
        console.log(combo)
      }
    }
    // Icons made by Freepik from www.flaticon.com
    const BOT_IMG = "../../static/images/logochatbot.png";
    const PERSON_IMG = "../../static/images/pp3.png";
    const BOT_NAME = "Green";
    const PERSON_NAME = "You";
    msgerForm.addEventListener("submit", event => {
      event.preventDefault();
      const msgTextkonteks = msgerInputkonteks.value;
      console.log(msgTextkonteks)
      const msgTextpertanyaan = msgerInputpertanyaan.value;
      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgTextpertanyaan);
      msgerInputpertanyaan.value = "";
      botResponse(msgTextkonteks,msgTextpertanyaan);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>

  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
      <div class="msg-info-time">${formatDate(new Date())}</div>
    </div>

    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }
    function botResponse(konteks,pertanyaan) {
      // Bot Response
      $.post("/apipredict", { context:konteks, question:pertanyaan }).done(function (data) {
        console.log(konteks);
        console.log(pertanyaan);
        console.log(data[0]);
        const botresponse1 = data[0]
        const botresponse2 = data[1]
        const botresponse3 = data[2]
        if (botresponse1.jawaban=="maaf saya tidak tahu"){
          appendMessage(BOT_NAME, BOT_IMG, "left", botresponse1.jawaban);
          appendMessage(BOT_NAME, BOT_IMG, "left", "coba pertanyaan atau konteks yang lain");
        }
        else{
        appendMessage(BOT_NAME, BOT_IMG, "left", "saya punya bebearapa jawaban atas pertanyaan anda :");
        appendMessage(BOT_NAME, BOT_IMG, "left", botresponse1.jawaban);
        appendMessage(BOT_NAME, BOT_IMG, "left", botresponse2.jawaban);
        appendMessage(BOT_NAME, BOT_IMG, "left", botresponse3.jawaban);}
      });
    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }
</script>
</body>
</html>


  </script>

</body>

</html>