{% include 'dashboard/nav.html' %}
{% block content %}
<div class="container" style="margin-left: 150px;margin-right: 20px;">
    <div class="starter-template">
        <h1>Data Guru</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>nip</td>
                    <td>nama</td>
                    <td>password</td>
                    <td>alamat</td>
                    <td>pilih</td>
                </tr>
            </thead>
            <tbody>
                {% for row in guru %} 
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.4 }}</td></a>
                    <td><a href="/formupdate/{{row.0}}">Edit</a> | <a href="/deleteuser/{{row.0}}">Hapus</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">tidak ada data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
{% endblock %}