{% include 'dashboard/nav.html' %}
{% block content %}
<div class="container" style="margin-left: 150px;margin-right: 20px;">
    <div class="starter-template">
        <h1>Data Guru</h1>
        {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>nip</td>
                    <td>nama</td>
                    <td>password</td>
                    <td>alamat</td>
                    <td>pilih</td>
                </tr>
            </thead>
            <tbody>
                {% for row in guru %} 
                <tr>
                    <td>{{ row.NIP }}</td>
                    <td>{{ row.Nama }}</td>
                    <td>{{ row.Password }}</td>
                    <td>{{ row.Alamat }}</td></a>
                    <td><a href="/formupdate/{{row.NIP}}">Edit</a> | <a href="/deleteguru/{{row.NIP}}">Hapus</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">tidak ada data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
{% endblock %}