{% include 'dashboard/nav.html' %}
{% block content %}
<div class="container" style="margin-left: 150px;margin-right: 20px;">
    <div class="starter-template">
        <h1>Data History Chatbot dan siswa</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>No</td>
                    <td>nama</td>
                    <td>konteks</td>
                    <td>pertanyaan</td>
                    <td>rank</td>
                    <td>jawaban</td>
                    <td>score</td>
                    <td>waktu_proses</td>
                    <td>tanggal</td>
                    <td>pilih</td>
                </tr>
            </thead>
            <tbody>
                {% for row in history %} 
                <tr>
                    <a href="/history/{{ row.id }}"><td>{{ row.id }}</td>
                    <td>{{ row.nama }}</td>
                    <td>{{ row.konteks }}</td>
                    <td>{{ row.pertanyaan }}</td>
                    <td>{{ row.rank }}</td>
                    <td>{{ row.jawaban }}</td>
                    <td>{{ row.score }}</td>
                    <td>{{ row.waktu_proses }}</td>
                    <td>{{ row.tanggal }}</td></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">Tidak Ada Data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
{% endblock %}