{% include 'dashboard/nav.html' %}
{% block content %}
<div class="container" style="margin-left: 150px;margin-right: 20px;">
    <div class="starter-template">
        <h1>Data Siswa</h1>{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>NIS</td>
                    <td>Password</td>
                    <td>Nama</td>
                    <td>Alamat</td>
                    <td>Nama Ortu</td>
                    <td>pilih</td>
                </tr>
            </thead>
            <tbody>
                {% for row in siswa %} 
                <tr>
                    <a href="/history/{{ row.NIS }}"><td>{{ row.NIS }}</td>
                    <td>{{ row.Password }}</td>
                    <td>{{ row.Nama }}</td>
                    <td>{{ row.Alamat }}</td>
                    <td>{{ row.NamaOrtu }}</td></a>
                    <td><a href="/formupdate/{{ row.NIS }}">Edit</a> | <a href="/deletesiswa/{{row.NIS}}">Hapus</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="2">Tidak Ada Data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- /.container -->
{% endblock %}